@{
    ViewData["Title"] = "Home Page";

    
}

<html>
    <body>
<form method="post">

        <div class="text-center">
            <h1 class="display-4">Welcome</h1>
            <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        </div>

        <h1>Razor örnekleri...</h1>


        <ul>
            @for (int i = 0; i <= 10; i++)
            {
                <li>Şu anki sayı değeri @i</li>
            }
        </ul>

        <!-- Tek satırlık bir blok-->
        @{
            var mesaj = "Klasik....Merhaba Dünya.....";
        }

        <h3>Yazdığınız mesaj : @mesaj</h3>
        <hr />
        <!-- Çok satırlı bir blok -->
        @{
            var greeting = "Şehrimize hoşgeldiniz...";
            var buguntarih = DateTime.Now;

            var mesaj2 = greeting + " " + buguntarih.ToString() + " dır";
        }
        <hr />
        <h3>Karşılama mesajı : @mesaj2</h3>
        <br />
        <hr />

        <table>
            <tr>
                <th width="150px">Bölüm</th>
                <th width="150px">Değer</th>
            </tr>
            <tr>
                <td>Gün : </td>
                <td>@DateTime.Now.Day</td>
            </tr>
            <tr>
                <td>Saat :</td>
                <td>@DateTime.Now.Hour</td>
            </tr>
            <tr>
                <td>Dakika :</td>
                <td>@DateTime.Now.Minute</td>
            </tr>
            <tr>
                <td>Saniye:</td>
                <td>@DateTime.Now.Second</td>
            </tr>
        </table>
        <br />
        <hr />

</form>



    </body>








</html>

